@import "tailwindcss";
@import "tw-animate-css";

.section {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1px;
  flex-wrap: wrap;
  overflow: hidden;
}

.section::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(#000, #804098, #000);
  animation: animate 5s linear infinite;
  z-index: 0;
}

@keyframes animate {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

.section .span {
  position: relative;
  display: block;
  width: calc(5vw - 1px);
  height: calc(8vh - 1px);
  background: #181818;
  z-index: 2;
  transition: 0.5s;
}

.section .span:hover {
  background: #804098;
  transition: 0s;
}

@media screen and (max-width: 990px) {
  .section .span {
    position: relative;
    display: block;
    width: calc(9vw - 2px);
    height: calc(7vh - 2px);
    background: #181818;
    z-index: 2;
  }
}

@media screen and (max-width: 600px) {
  .section .span {
    width: calc(10vw - 2px);
    height: calc(5vh - 2px);
  }
}
